@model CV.Models.AboutMe

@{
    ViewData["Title"] = "Acerca";
    var base64 = Model.Photo == null ? String.Empty : Convert.ToBase64String(Model.Photo);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<div class="text-center">
    <hr />
    <div>
        <table class="table table-borderless" style="table-layout: fixed; width: 100%;">
            <tr>
                <td width="30%">
                    <img class="rounded-circle" alt="Profile Picture 100x100" src="@imgSrc" data-holder-rendered="true" width="100" height="100">
                </td>
                <td width="10%"></td>
                <td style="word-wrap: break-word" width="70%">
                    <font color="white">@Html.DisplayFor(model => model.Summary)</font>
                </td>
            </tr>
        </table>
    </div>
    <div class="text-left">
        <div class="column">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PersonalInformation)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PersonalInformation)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Strengths)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Strengths)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Location)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Linkedin)
                </dt>
                <dd class="col-sm-9">
                    <a href=@Model.Linkedin target="_blank">@Model.Linkedin</a>
                </dd>
            </dl>
        </div>
    </div>
</div>
